* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---------------------------------------------------------------------- */

body {
    background-color: #202126;
    /* background-color: white;  */
    /* para ver con constraste nomas despues lo borro */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202126;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    /* height: 90px; */
}

.titulo {
    font-size: 2rem;
    margin: .5rem;
    margin-left: 11rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 2rem 4rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* ---------------seccion principal--------------- */

.principal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.principal_der {
    display: flex;
    justify-content: center;
    margin: 140px 0;
}

div .img_home {
    /* width: 100%;
    padding: 0px 35px; */
    max-width: 50%;
}

.dark {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 100px;
    color: white;
    margin: 20px 0px;
}

.numerito {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 40px;
    color: white;
    margin-top: 200px;
}

.vermas {
    display: inline-block;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: orange;
    margin-left: 70px;
}

.vermas:hover {
    filter: brightness(200%);
}

.vermas::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: orange;
    top: 0.8em;
    left: -60px;
}

footer {
    text-align: center;
    padding: 30px 10%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* -----------------------NOSOTROS----------------------------- */

.trabajos {
    background: #f2f2f2;
}

.fotitos {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.galeria_chiquita {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen_chica {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen_chica>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ---------------------------------servicios---------------------------------- */

.servicios {
    background: #202126;
    padding-bottom: 30px;
}

.contene_servi {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.cajita_servicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servi_img {
    width: 28%;
    text-align: center;
}

.servi_img img {
    width: 90%;
}

.servi_img h3 {
    margin: 10px 0;
}

.servi_img p {
    font-weight: 300;
    text-align: justify;
}









.comentario {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.comentario .comentario_cajita {
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.comentario .comentario_cajita img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.comentario .comentario_cajita>.texto_coment {
    width: 60%;
    color: #fff;
}

.comentario .comentario_cajita>.texto_coment p {
    font-weight: 300;
    padding-top: 5px;
}














/* -----------------------CONTACTO----------------------------- */
.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo_contacto {
    text-align: center;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 20px;
    color: white;
}

.tarjeta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: white;
}

.tarjeta>* {
    padding: 1em;
}

.formulario {
    background: #222222;
}

.formulario h3 {
    padding: 1em;
}

.formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario form .bloque {
    grid-column: 1/3;
}

.formulario form p {
    margin: 0;
    padding: 1em;
}

.formulario form button,
.formulario form input,
.formulario form textarea {
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
}

.formulario form button {
    background: rgb(51, 51, 167);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.formulario form button:hover,
.formulario form button:focus {
    background: burlywood;
    color: black;
    /* transition: background-color ease-out; */
    outline: 0;
}

.formulario_info {
    background: black;
    color: white;
}

.formulario_info h4,
.formulario_info ul,
.formulario_info p {
    text-align: left;
    margin: 0 0 1rem 0;
    padding: 1em;
}

.formulario_info ul {
    list-style: none;
    padding: 0.5em;
}

.formulario_info ul li {
    padding: 0.3em;
}

i {
    margin-right: 10px;
}


/* --------media queries------- */


@media (max-width: 1024px) {

    .navbar-links li a {
        padding: 2rem;
    }

    .principal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }

    .numerito {
        margin-top: 100px;
    }

    .vermas {
        margin-bottom: 100px;
    }

    .titulo {
        font-size: 2rem;
        margin: .5rem;
        margin-left: 5rem;
    }

    .tarjeta {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }

    .formulario {
        grid-column: 1/3;
    }

    .formulario_info {
        grid-column: 1/3;
    }

    .formulario_info h4,
    .formulario_info ul,
    .formulario_info p {
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 768px) {

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .titulo {
        font-size: 2rem;
        margin: .5rem;
        margin-left: 2rem;
    }

    .numerito {
        font-size: 20px;
        margin-top: 50px;
    }

    .vermas {
        font-size: 20px;
        margin-left: 70px;
    }

    .dark {
        font-size: 50px;
    }

    .principal_der {
        margin: 0 0 70px 0;
    }
}